<!DOCTYPE html>
<html lang="es">
  {% include 'public/bases/head.html' %}
  <body>
    {% block body %}

    <h2>
      Buscador con Javascript

      <img
        style="max-width: 60px"
        src="{{ url_for('static', filename ='imgs/javascript.png') }}"
        alt="logo-javascript" />
      😱
    </h2>
    <ul class="media-list">
      <input type="search" placeholder="Buscar amigo 😉" id="buscador_amigo" />
      <hr />
      {% for amigo in amigos %}
      <li
        class="lista_amigo"
        data-search="{{ amigo.nombre }} {{ amigo.profesion }}">
        <div class="media">
          <a href="#" class="media__img">
            <img src="/static/img_amigos/{{ amigo.imagen }}" alt="Octocat" />
          </a>
          <p class="media__body">{{ amigo.nombre}}</p>
          <p>{{ amigo.profesion }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>

    {% endblock %}
    <!---->
    <script>
      const searchInput = document.getElementById("buscador_amigo");
      searchInput.addEventListener("input", function () {
        const searchText = searchInput.value.toLowerCase();
        const contactList = document.getElementsByClassName("lista_amigo");
        let amigo_encontrado = false; // Variable para rastrear si se encontró al menos un amigo

        for (let i = 0; i < contactList.length; i++) {
          const contact = contactList[i];
          const searchData = contact.getAttribute("data-search").toLowerCase();

          if (searchData.includes(searchText)) {
            contact.style.display = "block";
            amigo_encontrado = true; // Se encontró al menos un amigo
          } else {
            contact.style.display = "none";
          }
        }

        let mensaje = document.querySelector(".mensaje");
        if (!amigo_encontrado) {
          if (!mensaje) {
            mensaje = document.createElement("p");
            mensaje.textContent = "Amigo no encontrado 😭";
            mensaje.classList.add("mensaje");
            let media_list = document.querySelector(".media-list");
            media_list.appendChild(mensaje);
          }
          console.log("No se encontró ningún amigo");
        } else {
          // Si hay amigos encontrados, eliminamos el mensaje si existe
          if (mensaje) {
            mensaje.remove();
          }
        }
      });
    </script>
  </body>
</html>
